<div id="post-like-<%= post.id %>" class="d-flex align-items-center mr-2">
  <% liked = post.post_likes.exists?(user: current_user) %>

  <% if liked %>
    <%= link_to post_post_likes_path(post),
                  method: :delete,
                  remote: true,
                  class: 'post-like-button btn btn-link p-0' do %>
      <i class="fa-solid fa-heart" style="color:red;"></i>
    <% end %>
  <% else %>
    <%= link_to post_post_likes_path(post),
                  method: :post,
                  remote: true,
                  class: 'post-like-button btn btn-link p-0' do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  <% end %>

  <span><%= post.post_likes.count %></span>
</div>



