<%= render "public/header2" %>
<div class="container" style="margin-top:166px;">
  <%= link_to new_post_path, class: "btn btn-primary fixed-top-right" do %>
    <i class="fa-solid fa-plus fa-2x"></i>
  <% end %>
  <h1 class="mb-3 text-center">投稿一覧</h1>
  <div class="row justify-content-center">
    <% @posts.each do |post| %>
      <div class="col-8 mb-4">
        <%= render "post_layout", post: post %>
      </div>
    <% end %>
  </div>
</div>

<!-- ページネーション -->
<div class="pagination">
  <%= paginate @posts %>
</div>