<% if comment.likes.exists?(user: current_user) %>
  <%= button_to "いいね解除",
      public_post_comment_unlike_path(comment.post, comment),
      method: :delete,
      remote: true,
      class: "unlike-button" %>
<% else %>
  <%= button_to "いいね",
      public_post_comment_like_path(comment.post, comment),
      method: :post,
      remote: true,
      class: "like-button" %>
<% end %>

<span><%= comment.likes.count %></span>