<%= render "public/header2" %>
<div style="margin-top:166px;">
  <h2 class="mb-4 text-center">
    「<%= link_to @post.title, post_path(@post) %>」の評価一覧
  </h2>

  <div class="list-group mb-5 w-75 mx-auto">
    <% if @reviews.any? %>
      <% @reviews.each do |review| %>
        <%= render "review_layout", review: review %>
      <% end %>
    <% else %>
      <p class="text-center text-muted">まだレビューはありません。</p>
    <% end %>
  </div>
</div>

<!-- ページネーション -->
<div class="pagination">
  <%= paginate @reviews %>
</div>