@use '~bootstrap/scss/bootstrap';

body {
  padding-top: 70px;     /* ヘッダーとフッターに埋まってしまうのを防止 */
  padding-bottom: 180px;
}

.min-vh-100 {
  min-height: 100vh; /* 画面の高さ全体をカバー */
}

.header-footer-color {
  background: linear-gradient(180deg, #89d957, #c9e265) ;
}

.card-header-color {
  background: linear-gradient(200deg, #89d957, #c9e265) ;
}

.bullhorn-css{
  color: blue;
  font-size: 24px;
}

.star-color {
  color: gold;
}

/*カテゴリ追加・投稿ボタンの左上固定（スクロールにも対応）*/
.fixed-top-right {
  position: fixed;
  top: 5rem;
  right: 1rem;
}

/*評価登録フォーム*/
.star-rating input[type="radio"] {
  display: none; /* ラジオボタンは非表示 */
}

.star-rating label {
  cursor: pointer;  /* クリック可能 */
}

.star-rating input[type="radio"]:checked ~ label i,
.star-rating input[type="radio"]:checked + label i {
  color: gold;
}

/* 右から左に並べて左側も gold にする */
.star-rating {
  direction: rtl;
  unicode-bidi: bidi-override;
}

