@use '~bootstrap/scss/bootstrap';

.header-footer-color {
  background: linear-gradient(180deg, #89d957, #c9e265) ;
}

.fixed-top-right {
  position: fixed;
  top: 5rem;
  right: 1rem;
}

/*評価登録フォーム*/
.star-rating input[type="radio"] {
  display: none; /* ラジオボタンは非表示 */
}

.star-rating label {
  cursor: pointer;  /* クリック可能 */
}

.star-rating input[type="radio"]:checked ~ label i,
.star-rating input[type="radio"]:checked + label i {
  color: gold;
}

/* 右から左に並べて左側も gold にする */
.star-rating {
  direction: rtl;
  unicode-bidi: bidi-override;
}

