@use '~bootstrap/scss/bootstrap';
.about-row {
  display: flex;
}

.pagination {
  display: flex;
  justify-content: center;  /* ← これで中央揃え */
  margin: 20px 0;
  gap: 10px;
}

.username-size {
  font-size: medium;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-footer-color {
  background: linear-gradient(180deg, #89d957, #c9e265) ;
}

.card-header-color {
  background: linear-gradient(200deg, #89d957, #c9e265) ;
}

.title-border-color {
  border: 2px solid #aadd5e;
  border-radius: 8px;
}

.bullhorn-css{
  color: blue;
  font-size: 24px;
}

.star-color {
  color: gold;
}

.menu-position {
  position: absolute !important;
  right: 100%;
  left: auto;
  top: 10%;
}

/*カテゴリ追加・投稿ボタンの左上固定（スクロールにも対応）*/
.fixed-top-right {
  position: fixed;
  top: 5rem;
  right: 1rem;
}

.card-img-size {
  width: 100%;
  aspect-ratio: 1 / 1; /* ← 正方形に統一 */
  object-fit: cover;
  object-position: center;
  display: block;
}

/*評価登録フォーム*/
.star-rating input[type="radio"] {
  display: none; /* ラジオボタンは非表示 */
}

.star-rating label {
  cursor: pointer;  /* クリック可能 */
}

.star-rating input[type="radio"]:checked ~ label i,
.star-rating input[type="radio"]:checked + label i {
  color: gold;
}

/* 右から左に並べて左側も gold にする */
.star-rating {
  direction: rtl;
  unicode-bidi: bidi-override;
}

